<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../css/Login.css">
</head>
<body>

    <div id="baggrund" class="navOpret">
        <div class="nav">
            <ul class="navbar">
                <li class="navList"><a class="navLista" href="index.html">Kalender</a></li>
                <li class="navList"><a class="navLista" href="Login.html">Login</a></li>
                <li class="navList"><a class="navLista" href="opretRevisor.html">Opret revisor</a></li>
                <li class="navList"><a class="navLista" href="opretKunde.html">Opret Bruger</a></li>
            </ul>
        </div>
    </div>

    <div id="loginContainer">
        <form id="loginForm" name="loginForm">
            <h2>Login</h2>
            <span id="loginMessage" class="fejlbesked"></span><br><br>
            <div class="tekstboks">
            <input type="text" id="brugernavn" value="" placeholder=" Brugernavn" name="username"/><br/>
            </div>
            <div class="tekstboks">
            <input type="password" id="password" value="" placeholder=" Password" name="password"/><br/>
            </div><br>
            <br/>
            <button id="submit" class="Login" style="cursor: pointer">Log ind</button><br><br>
        <!-- opretter her en link til opret bruger sider som bliver stylet som en knap -->
           <a href="opretRevisor.html" class="opretRevisorKnap">Opret Revisor</a>
            <a href="opretKunde.html" class="opretRevisorKnap">Opret Kunde</a>

        </form>
</div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/classes/User.js"></script>
    <script src="../js/classes/Kalender.js"></script>
    <script src="../js/classes/Revisorhus.js"></script>
    <script src="../js/classes/Revisor.js"></script>
    <script src="../js/classes/Møde.js"></script>
    <!--<script src="../js/databehandling.js"></script>-->
    <script src="../js/login.js"></script>


</body>
</html>